---

import { Image } from 'astro:assets';

const {data} = Astro.props

---

<a href={`installations/${data.slug}`}>
    <article>
        <Image src={data.image} inferSize alt="" />
        <div class="header">
            <h1>{data.name}</h1>
            <p>{data.date}</p>
            <p>{data.location}</p>
        </div>
    </article>
</a>