---

import MainLayout from '../../layouts/MainLayout.astro'
import Overview from '../../components/installations/Overview.astro'
import Info from '../../components/installations/Info.astro'
import GlassBox from '../../components/GlassBox.astro'
import Button from '../../components/Button.astro'
import { Image } from 'astro:assets'

export async function getStaticPaths() {
  const data = await fetch("https://pmybjwfsotmvaguasetn.supabase.co/rest/v1/cphlightfestival",{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBteWJqd2Zzb3RtdmFndWFzZXRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA3NjU0NDIsImV4cCI6MjAyNjM0MTQ0Mn0.-GOvq1onQLgBhJwjrBLtalcpzQakjn3kN7ry4HKidHQ"
    }
  }).then((res) => res.json());

  return data.map((exhibit) => {
    return {
      params: { slug: exhibit.slug },
      props: { exhibit },
    };
  });
}

const { exhibit } = Astro.props

---

<MainLayout>    
      <a href="/installations" class="return"><img src="/img/arrow.svg" alt="" class="back_arrow"> Back</a>
    <Overview>
      <h1 class="display mobile"><span>{exhibit.no}</span> {exhibit.name}</h1>
      <Image class="exhibition_img" src={exhibit.image} inferSize alt="" />
      <article class="overview">
        <h1 class="display desktop"><span>{exhibit.no}</span> {exhibit.name}</h1>
        <ul>
          <li><h4><span>By</span> {exhibit.artist}</h4></li>
          <li><h4><span>Located</span> {exhibit.borough}</h4></li>
        </ul>
        <div class="mobile button">
        <Button variant="map" label="View on map" />
      </div>
        <p>{exhibit.description}</p>
      </article>
    </Overview>
    <Info>
      <GlassBox screen="desktop">
        <h4>Thank you to</h4>
        <p>{exhibit.thanks_to}</p>
      </GlassBox>
      <GlassBox screen="desktop">
        <p>{exhibit.links}</p>
      </GlassBox>
      <GlassBox screen="desktop">
        <div class="text_section">
          <div>
          <h3>Find it here:</h3>
          <h5>{exhibit.location}</h5>
        </div>
        <img class="icon"src="/img/location.svg" alt=""> 
        </div>              
        <Button variant="map" label="View on map" />
      </GlassBox>
      <GlassBox screen="mobile">
        <div class="acknowledgements">
          <h4>Thank you to</h4>
        <p>{exhibit.thanks_to}</p>
        </div>
        <div class="links">
          <p>{exhibit.links}</p>
        </div>
      </GlassBox>
    </Info>    
</MainLayout>

<style>

  a.return {
    display: flex;
    gap: var(--spacing-s);
    text-transform: uppercase;
    transition: .15s ease-in;
  }

  a.return:hover {
    scale: 1.1;
  }

.back_arrow {
    width: var(--spacing-xs);
    transform: rotate(180deg);
  }

  .exhibition_img {
    max-width: 544px;
    min-height: 250px;
    height: 100%;
    border: 1px solid var(--glass-light);
    border-radius: var(--spacing-xxs);
    filter: drop-shadow(0 -1px 16px rgba(233, 235, 248, 0.2));    
    object-fit: cover;
    object-position: 25% 50%;
  }

  article.overview {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
  }

  article.h1 {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  h1 span {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(bottom right,
      var(--cherry),
      var(--flamingo),
      var(--amethyst));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h4 {
    font-weight: 700;
  }
  h4 span {    
    font-size: 1rem;
    font-weight: 400;
  }

  .text_section {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    width: 64px;
  }

  .mobile.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-xs) 0;
  }

  .acknowledgements, .links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    padding: var(--spacing-m) 0;
    
  }

  .acknowledgements {
    border-bottom: 1px solid var(--stroke-light);
  }

  .acknowledgements h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  @media (min-width: 900px) {

    h1.display.mobile {
      display: none;
    }
    h1.desktop {
      display: inline;
      font-size: 3rem;
      line-height: 3rem;
    }

    h1 span {
      font-size: 2.5rem;
    }

    h4 span {    
      font-size: 1rem;
    }

    a.return {
      font-size: 1.5rem;
    }

    article.overview {
    gap: var(--spacing-xs);
  }

  .mobile.button {
    display: none;
  }
  }
</style>